<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Me</title>
    <%- include("scripts")%>
</head>
<body>
    <%-include("header")%>
    <div class="container">
        <h3 class="activity-title"><%= postTitle %></h3>
        <p class="description"><%= postDesc%></p>
    </div>
    <%- include("footer")%>
</body>
</html>